@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;

    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #2d3440;

    background-color: #feafc3;
}

.body-slide-2 {
    background-color: #69a9ff;
}

.body-slide-2 .slider-image-current-item::before {
    background-color: #9fc8ff;
}

.body-slide-2 .slider-image-next-item::before {
    background-color: #9fc8ff;
}

.body-slide-3 {
    background-color: #fcc850;
}

.body-slide-3 .slider-image-current-item::before {
    background-color: #fcdc92;
}

.body-slide-3 .slider-image-next-item::before {
    background-color: #fcdc92;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1366px;
    min-width: 1366px;
    padding: 0 98px;
    margin: 0 auto;

    box-sizing: border-box;
}

/*visually-hidden !!! */

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-index {
    flex-grow: 1;
}

.main-catalog {
    flex-grow: 1;
}

/* Input */

.input-basic:hover {
    border-color: #2d3440;
}

.input-basic:focus {
    outline: 2px #2d3440 solid;
}

.input-basic-error {
    border-color: #ea5454;
}

.input-basic-error:hover {
    outline: 1px #ea5454 solid;
}

.input-basic:disabled {
    background-color: #e7e7e7;
}

.input-basic:disabled:hover::placeholder {
    color: #2d3440;
}

.input-basic:disabled:hover {
    border-color: #b9b9b9;
}

/* Buttons */

.btn {
    display: inline-block;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2d3440;
    text-decoration: none;

    cursor: pointer;
}

.btn-basic {
    padding: 12px 32px;

    border-radius: 26px;
    background-color: #fcfcfc;
    border: 4px rgba(252, 252, 252, .4) solid;
    background-clip: padding-box;
}

.btn-basic:hover {
    background-color: rgba(252, 252, 252, .4);
    border: 4px #fcfcfc solid;
}

.btn-basic:active {
    background-color: #fcfcfc;
    border: 2px #2d3440 solid;
    padding: 14px 34px;
}

.btn-basic:focus:not(:active) {
    background-color: rgba(252, 252, 252, .5);
    border: 2px #2d3440 solid;
    padding: 14px 34px;
    outline: none;
}

.btn-basic:disabled {
    color: #b9b9b9;
    font-weight: 400;

    background-color: #e7e7e7;
    outline: none;

    cursor: no-drop;
}

/* Загрузка базовая кнопка */

.btn-basic-loading {
    padding-right: 56px;
    position: relative;
}

.btn-basic-loading:active {
    padding-right: 58px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn-basic-loading:focus:not(:active) {
    padding-right: 58px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn-basic-loading::after {
    position: absolute;
    right: 32px;
    top: 14px;

    width: 17px;
    height: 16px;

    background-image: url(../images/spinner.svg);

    animation-name: loading;
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    content: "";
}

.btn-basic-loading:active::after {
    top: 16px;
}

.btn-basic-loading:focus:not(:active)::after {
    top: 16px;
}



.btn-secondary {
    padding: 12px 32px;

    color: #ffffff;

    border-radius: 26px;
    background-color: #ff2f64;
    border: 4px rgba(255, 47, 100, .4) solid;
    background-clip: padding-box;
}

.btn-secondary:hover {
    background-color: rgba(252, 252, 252, .3);
    border: 4px #ff2f64 solid;
    color: #2d3440;
}

.btn-secondary:active {
    background-color: #feafc3;
    border: 2px #2d3440 solid;
    padding: 14px 34px;
}

.btn-secondary:focus:not(:active) {
    background-color: #ff2f64;
    border: 2px #2d3440 solid;
    padding: 14px 34px;
    outline: none;
}

.btn-secondary:disabled {
    color: #2d3440;
    font-weight: 400;

    background-color: #b9b9b9;
    border: 4px rgba(185, 185, 185, .3) solid;
    outline: none;

    cursor: no-drop;
}

/* Загрузка доп кнопка */

.btn-secondary-loading {
    padding-right: 56px;
    position: relative;
}

.btn-secondary-loading:active {
    padding-right: 58px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn-secondary-loading:focus:not(:active) {
    padding-right: 58px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn-secondary-loading::after {
    position: absolute;
    right: 32px;
    top: 14px;

    width: 17px;
    height: 16px;

    background-image: url(../images/spinner-white.svg);

    animation-name: loading;
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    content: "";
}

.btn-secondary-loading:active::after {
    top: 16px;
}

.btn-secondary-loading:focus:not(:active)::after {
    top: 16px;
}



.btn-submit {
    padding: 8px;

    font-size: 14px;

    border-radius: 26px;
    background-color: rgba(252, 252, 252, .3);
    border: 2px #ffffff solid;
    background-clip: padding-box;
}

.btn-submit:hover {
    background-color: #fcfcfc;
    border: 2px rgba(252, 252, 252, .3) solid;
}

.btn-submit:active {
    padding: 10px;

    background-color: rgba(252, 252, 252, .5);
    border: none;
}

.btn-submit:focus:not(:active) {
    background-color: rgba(252, 252, 252, .5);
    border-color: #2d3440;

    outline: none;
}

.btn-submit:disabled {
    opacity: .4;

    cursor: no-drop;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*Header*/

.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.catalog-main-header {
    margin-bottom: 32px;
}

.header-navigation-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.header-navigation-logo-item {
    margin-right: 16px;
}

.header-navigation-logo-link {
    display: block;
    line-height: 1;
}

.header-logo-image {
    display: block;
}

.header-navigation-link {
    display: block;
    padding: 8px 16px;

    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #2d3440;

    border-radius: 30px;
}

.header-navigation-link:hover {
    background-color: rgba(252, 252, 252, .5);
}

.header-navigation-link:active {
    background-color: #fcfcfc;
}

.header-navigation-link:focus:not(:active) {
    outline: 2px #2d3440 solid;
    background-color: rgba(252, 252, 252, .5);
}

.header-navigation-link-active {
    color: #fcfcfc;

    background-color: #ff4a78;
}

.header-navigation-link-active .header-navigation-icon {
    fill: #fcfcfc;
    transform: rotate(180deg);
    top: 3px;
}

.header-navigation-link-active:hover {
    background-color: #ff4a78;
    opacity: .6;
}

.header-navigation-link-active:active {
    background-color: #ff4a78;
    opacity: .3;
}

.header-navigation-link-active:focus:not(:active) {
    background-color: #ff4a78;
    outline: 2px #000000 solid;
}


.header-navigation-catalog-link {
    position: relative;

    padding-right: 38px;
}

.header-navigation-icon {
    position: absolute;
    right: 16px;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #2d3440;
}


.header-user-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.user-menu-item {
    min-width: 32px;
}

.user-menu-item:not(:last-child) {
    margin-right: 16px;
}

.user-menu-phone {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2d3440;
    text-decoration: none;
}

.user-menu-link {
    padding: 6px 16px;
    padding-left: 38px;

    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #2d3440;

    border-radius: 30px;
    background-color: rgba(252, 252, 252, .3);
}

.user-menu-link:hover {
    background-color: rgba(252, 252, 252, .5);
}

.user-menu-link:active {
    background-color: rgba(252, 252, 252, .5);
    outline: 2px #000000 solid;
}

.user-menu-link:focus:not(:active) {
    background-color: #fcfcfc;
    outline: none;
}


.user-menu-search-link {
    display: block;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    padding: 0;

    box-sizing: border-box;
}

.user-menu-search-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #2d3440;
}

.user-menu-login-icon {
    position: absolute;
    left: 16px;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #2d3440;
}

.user-menu-cart-icon {
    position: absolute;
    left: 16px;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #2d3440;
}

.user-menu-link-active {
    color: #fcfcfc;

    background-color: #ff4a78;
}

.user-menu-link-active .user-menu-cart-icon,
.user-menu-link-active .user-menu-login-icon,
.user-menu-link-active .user-menu-search-icon {
    fill: #fcfcfc;
}

.user-menu-link-active:hover {
    background-color: #ff4a78;
    opacity: .6;
}

.user-menu-link-active:active {
    background-color: #ff4a78;
    outline: 2px #000000 solid;
}

.user-menu-link-active:focus:not(:active) {
    background-color: #ff4a78;
    opacity: .3;
}

.link-cart-empty {
    display: none;
}

/* Hide popover */

.popover-hidden {
    display: none;
}

/* Cart popover */

.user-menu-cart-item {
    position: relative;
}

.user-menu-link-cart {
    position: relative;
}

.popover-cart {
    position: absolute;
    top: calc(100% + 13px);
    right: 0;
    z-index: 2;

    padding: 48px;
    padding-bottom: 44px;
    width: max-content;

    background-color: #fcfcfc;
    transition: .2s ease-in-out;
    border-radius: 4px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, .12);
    /* opacity: 0; */

    box-sizing: border-box;
    /* visibility: hidden; */
}

.popover-cart-title {
    margin: 0;
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 30px;
}

.popover-cart-products {
    margin: 0;
    padding: 0;
    max-height: 600px;
    min-width: 345px;
    margin-bottom: 26px;

    border-bottom: 1px #e7e7e7 solid;
    list-style-type: none;

    overflow-y: auto;
}

.popover-cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.cart-product-text {
    width: 95px;
}

.popover-cart-product:last-child {
    margin-bottom: 32px;
}

.cart-product-description {
    display: flex;
    margin-right: 20px;

    font-size: 16px;
    line-height: 20px;
    color: #2d3440;
    text-decoration: none;


    cursor: pointer;
}

.cart-product-image {
    display: block;
    margin-right: 16px;
}

.popover-cart-product:not(:last-child) {
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

.cart-product-name {
    margin: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.cart-product-subscription {
    margin: 0;

    font-size: 14px;
    line-height: 20px;
    color: #b9b9b9;
}

.cart-product-price {
    margin: 0;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.cart-delete-product-btn {
    display: block;
    justify-self: flex-end;
    min-width: 16px;
    width: 16px;
    height: 16px;

    background-image: url(../images/cross.svg);
}

.popover-cart-amount {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

    color: #ffffff;
    font-size: 16px;
    line-height: 20px;

    background-color: #1a1a1a;
}

.cart-amount-text {
    margin: 0;
}

.cart-amount-text-products {
    margin-right: 20px;
}

.cart-amount-text-total {
    text-align: end;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-amount {
    margin: 0;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.cart-empty {
    display: none;
}

.empty-cart {
    display: none;
    width: 288px;
    padding: 48px 0;
}

.cart-empty-text {
    display: none;
    margin: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}

/* Login popover */

.user-menu-login-item {
    position: relative;
}

.popover-login {
    position: absolute;
    top: calc(100% + 13px);
    right: 0;
    z-index: 3;

    padding: 48px;
    padding-bottom: 52px;
    width: max-content;

    background-color: #fcfcfc;
    transition: .2s ease-in-out;
    border-radius: 4px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, .12);
    /* opacity: 0; */

    box-sizing: border-box;
    /* visibility: hidden; */
}

.popover-login-title {
    margin: 0;
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 30px;
}

.login-form {
    display: grid;

    grid-template-columns: 113px 188px;
    row-gap: 16px;
    column-gap: 23px;
}

.login-input {
    height: 48px;
    padding: 14px 16px;

    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;

    border-radius: 4px;
    border: 1px #b9b9b9 solid;

    box-sizing: border-box;
}

.login-input::placeholder {
    color: #b9b9b9;
}

.login-email-input {
    grid-row: 1/2;
    grid-column: 1/3;
}

.login-password-input {
    grid-row: 2/3;
    grid-column: 1/3;
}

.login-btn {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.login-btn:focus:not(:active),
.login-btn:active {
    padding-left: 30px;
    padding-right: 30px;
}

.login-form-link {
    margin: 0;

    font-size: 14px;
    line-height: 20px;
    color: #2d3440;
    text-decoration: none;

    border-bottom: 1px #2d3440 solid;
}

.login-form-link:not(:last-child) {
    margin-bottom: 4px;
}

/* Search popover */

.user-menu-search-item {
    position: relative;
}

.popover-search {
    position: absolute;
    top: calc(100% + 11px);
    right: 0;
    z-index: 4;

    padding: 24px 16px;
    width: max-content;

    background-color: #fcfcfc;
    transition: .2s ease-in-out;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, .12);
    /* opacity: 0; */

    box-sizing: border-box;
    /* visibility: hidden; */
}

.search-form {
    position: relative;
}

.close-search-button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    display: none;
    width: 16px;
    height: 16px;

    background-image: url(../images/cross.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    border: none;
    opacity: .4;

    cursor: pointer;
}

.search-input {
    height: 48px;
    width: 324px;
    padding: 14px 16px;
    padding-right: 40px;

    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;

    border-radius: 4px;
    border: 1px #b9b9b9 solid;

    box-sizing: border-box;
}

.search-input::placeholder {
    color: #b9b9b9;
}

.search-input:not(:placeholder-shown) + .close-search-button {
    display: inline-block;
}

/* Catalog popover */

.header-navigation-item-catalog {
    position: relative;
}

.popover-catalog {
    position: absolute;
    top: calc(100% + 11px);
    left: 0;
    z-index: 4;

    width: 138px;

    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, .12);

    box-sizing: border-box;
}

.popover-catalog-list {
    margin: 0;
    padding: 8px 0;

    list-style-type: none;
}

.popover-catalog-item {

    font-size: 14px;
    line-height: 20px;
}

.popover-catalog-item-new {
    font-weight: 700;
}

.popover-catalog-link {
    padding: 8px 16px;
    display: block;

    color: #2d3440;
    text-decoration: none;
}

.popover-catalog-link:hover {
    background-color: #ffc8d8;
}

.popover-catalog-link:active {
    background-color: #ff7799;
}

.popover-catalog-link:focus:not(:active) {
    background-color: #ff2f64;
    outline: none;
}

.popover-catalog-divider {
    margin: 4px 16px;


    border: none;
    border-bottom: 1px #b9b9b9 solid;
}

/* Inner Header */

.inner-header {
    margin-bottom: 40px
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;

    list-style-type: none;
}

.breadcrumbs-item {
    line-height: 1;
}

.breadcrumbs-link {
    display: block;

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #2d3440;
    text-decoration: none;
}

.breadcrumbs-link:hover {
    border-bottom: 1px #2d3440 solid;
}

.breadcrumbs-link-current {
    border-bottom: 1px #2d3440 solid;
}

.breadcrumbs-item:not(:first-child) {
    padding-left: 28px;
    background-image: url(../images/chevrons-right.svg);
    background-position: 8px center;
    background-repeat: no-repeat;
}

.catalog-page-title {
    margin: 0;

    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
}


/* Filter */

.catalog-filter {
    margin-bottom: 44px;
}

.catalog-filter-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.catalog-filter-row:not(:last-child) {
    margin-bottom: 16px;
}

.filter-ruleset {
    padding: 0;
    margin-right: 22px;

    border: none;
}

.filter-ruleset-title {
    padding-left: 16px;
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 20px;
}

.catalog-sort-select {
    width: 196px;
    padding: 8px 16px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;

    background-image: url(../images/arrow-down.svg);
    background-position: center right 13px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
    background-color: rgba(252, 252, 252, .3);
    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;
}

.catalog-sort-select:hover {
    background-color: rgba(252, 252, 252, .5)
}

.catalog-sort-select:focus {
    outline: 2px #fcfcfc solid;
}

.filter-btn {
    width: 185px;
}

/* Range slider */

.range-filter-container {
    padding: 17px 16px;
    width: 196px;

    background-color: rgba(252, 252, 252, .3);
    border-radius: 20px;

    box-sizing: border-box;
}

.range-filter-scale {
    position: relative;

    width: 100%;
    height: 2px;

    background-color: rgba(86, 92, 102, .3);
}

.range-filter-bar {
    position: absolute;

    height: 2px;

    background-color: #2d3440;
}

.range-filter-toggle {
    position: absolute;
    display: block;

    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;

    background-color: #fcfcfc;
    /* background-clip: padding-box; */
    border-radius: 50%;
    border: 6px #2d3440 solid;

    cursor: pointer;

}

.range-filter-toggle:hover {
    background-color: #2d3440;
    border-color: #fcfcfc;
}

.range-filter-toggle:active {
    background-color: #2d3440;
    border-color: #2d3440;
}

.range-filter-toggle:focus:not(:active) {
    background-color: #2d3440;
    border-color: #fcfcfc;
    outline: 2px #2d3440 solid;
}

.range-filter-toggle-min {
    top: -7px;
    left: -8px;
}

.range-filter-toggle-max {
    top: -7px;
    right: -8px;
}

/* Radio/Checkbox controls */

.catalog-filter-list {
    display: flex;
    margin: 0;
    padding: 8px 24px;

    font-size: 14px;
    line-height: 20px;

    background-color: rgba(252, 252, 252, .3);
    border-radius: 20px;
    list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
    margin-right: 16px;
}


.catalog-filter-control {
    position: relative;

    padding-left: 24px;

    cursor: pointer;
}

.control-mark-checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px #2d3440 solid;
    border-radius: 3px;

    box-sizing: border-box;
}

.filter-checkbox input[type="checkbox"]:checked + .control-mark-checkbox {
    display: none;

}

.control-mark-icon {
    display: none;
}

.filter-checkbox input[type="checkbox"]:checked ~ .control-mark-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    display: inline-block;
    width: 16px;
    height: 16px;

    border-radius: 3px;
    fill: #2d3440;
    box-sizing: border-box;
}

.filter-checkbox:hover input[type="checkbox"]:checked ~ .control-mark-icon {
    fill: #fcfcfc;
}

.filter-checkbox:disabled input[type="checkbox"]:checked ~ .control-mark-icon {
    opacity: .4;
}

.control-mark-radio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px #2d3440 solid;
    border-radius: 50%;

    box-sizing: border-box;
}

.filter-radio input[type="radio"]:checked + .control-mark-radio::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 6px;
    height: 6px;

    background-color: #2d3440;
    border-radius: 50%;

    content: "";
}

.catalog-filter-control:hover .control-mark-checkbox,
.catalog-filter-control:hover .control-mark-radio {
    border-color: #fcfcfc;
}

.filter-radio:hover input[type="radio"]:checked + .control-mark-radio::before {
    background-color: #fcfcfc;
}

.filter-radio input[type="radio"]:disabled + .control-mark-radio {
    opacity: .4;
}

/* Slider */

.slider {
    margin-bottom: 80px;
}

.slider-list {
    margin: 0;
    padding-left: 70px;
    padding-top: 22px;
}

.slide {
    display: flex;
    align-items: center;
}

.slide-hidden {
    display: none;
}

.slide-text {
    max-width: 470px;
}

.slide-text-first {
    padding-top: 12px;
}

.slide-text-second {
    padding-top: 13px;
}

.slide-text-third {
    padding-top: 13px;
}

.slide-title {
    margin: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
}

.slide-description {
    margin: 0;
    margin-bottom: 48px;
}

.slider-image-list {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 47px;
}

.slider-image-list-second {
    padding-top: 5px;
}

.slider-image-current {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -8px;
}

.slider-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19px;
    right: -19px;

    display: flex;
    justify-content: space-between;
    width: calc(100% + 38px);
}

.slider-navigation-button {
    position: relative;

    width: 38px;
    height: 38px;

    border-radius: 50%;
    border: 2px #fcfcfc solid;
    background-color: rgba(252, 252, 252, .3);
    /* background-position: center center;
    background-repeat: no-repeat; */

    cursor: pointer;
}

.slider-navigation-button:hover {
    background-color: #fcfcfc;
}

.slider-navigation-button:hover .slider-navigation-icon {
    fill: #2d3440;
}

.slider-navigation-button:active {
    background-color: rgba(252, 252, 252, .5);
    border-color: rgba(252, 252, 252, .5);
    background-clip: padding-box;
}

.slider-navigation-button:focus {
    border-color: #2d3440;
    outline: none;
}

.slider-navigation-button:focus .slider-navigation-icon {
    fill: #2d3440;
}

.slider-navigation-icon {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    fill: #fcfcfc;
}


.slider-image-current-item {
    position: relative;

    display: flex;
    justify-content: center;
    min-width: 312px;
    margin-right: 56px;
}

.slider-image-current-item::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;

    height: 312px;
    border-radius: 50%;

    background-color: #ffc8d8;

    content: "";
}

.slider-image-current-first::before {
    width: 327px;
}

/* .slider-image-current-second {
    margin-top: 13px;
} */

.slider-image-current-second::before {
    width: 312px;
}

.slider-image-current-third::before {
    width: 312px;
}

.slider-image-next-item {
    position: relative;

    display: flex;
    justify-content: center;
    min-width: 100px;

    opacity: .4;
}

.slider-image-next-item:not(:last-child) {
    margin-right: 41px;
}

.slider-image-next-item::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;

    height: 100px;
    width: 100px;
    border-radius: 50%;

    background-color: #ffc8d8;

    content: "";
}

.slider-main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.slider-pagination {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider-pagination-button {
    display: block;
    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: none;
    background-color: rgba(252, 252, 252, .3);

    cursor: pointer;
}

.slider-pagination-button:hover {
    outline: 1px #fcfcfc solid;
}

.slider-pagination-button:active {
    background-color: rgba(252, 252, 252, .5);
    outline: none;
}

.slider-pagination-button:focus:not(:active) {
    outline: 1px #2d3440 solid;
}

.slider-pagination-button-active {
    background-color: #fcfcfc;
}

.slider-pagination-item:not(:last-child) {
    margin-right: 8px;
}

.slider-social-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.slider-social-item:not(:last-child) {
    margin-right: 12px;
}

.slider-social-link {
    display: block;
    width: 24px;
    height: 24px;

    background-size: 24px;
    border-radius: 50%;
    border: 2px rgba(252, 252, 252, .3) solid;
    background-clip: padding-box;
}

.slider-social-link:hover {
    background-color: #2d3440;
}

.slider-social-link:active {
    background-color: #2d3440;
    opacity: .5;
}

.slider-social-link:focus:not(:active) {
    background-color: #2d3440;
    border-color: #2d3440;
}

.slider-social-link-tg {
    background-image: url(../images/telegram.svg);
}

.slider-social-link-vk {
    background-image: url(../images/vk.svg);
}

.slider-social-link-yt {
    background-image: url(../images/youtube.svg);
}

/* Presents */

.presents {
    margin-bottom: 80px;
}

.presents-title {
    margin: 0;
    margin-bottom: 55px;

    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}

.presents-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.present-block {
    padding: 36px;
    padding-bottom: 32px;

    border-radius: 16px;
    background-color: #ff7799;

    box-sizing: border-box;
}

.present-block-raspberry {
    background-image: url(../images/raspberry.png);
    background-size: 200px auto;
    background-position: right 13px top 24px;
    background-repeat: no-repeat;
}

.present-block-marshmallow {
    background-image: url(../images/marshmallow.png);
    background-size: 225px auto;
    background-position: right -12px top 27px;
    background-repeat: no-repeat;
}

.present-title {
    margin: 0;
    margin-bottom: 28px;

    font-size: 24px;
    line-height: 30px;
}

.present-description {
    margin: 0;
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 22px;
}

/* Popular tastes */

.popular-tastes {
    margin-bottom: 80px;
}

.popular-tastes-catalog {
    margin-bottom: 16px;
}

.popular-tastes-title {
    margin: 0;
    margin-bottom: 55px;

    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}

.popular-tastes-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 38px;


    margin: 0;
    padding: 0;

    list-style-type: none;
}

.popular-taste-item {
    position: relative;

    margin-top: 53px;
    padding: 133px 40px 24px 40px;

    background-color: #ffffff;
    border-radius: 8px;
}

.popular-taste-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -51px;

    display: block;

    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(45, 52, 64, .1);
}

.popular-taste-title {
    margin: 0;
    margin-bottom: 8px;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

.popular-taste-description {
    margin: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #565c66;
}

.popular-taste-price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-taste-price {
    margin: 0;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.popular-taste-link {
    position: relative;

    display: block;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #ff2f64;
}

.popular-taste-link:hover {
    width: 28px;
    height: 28px;

    background-color: rgba(252, 252, 252, .3);
    border: 2px #ff2f64 solid;
}

.popular-taste-link:hover .popular-taste-icon {
    fill: #2d3440;
}

.popular-taste-link:active {
    width: 28px;
    height: 28px;

    background-color: #ffc8d8;
    border: 2px #ff2f64 solid;
}

.popular-taste-link:active .popular-taste-icon {
    fill: #2d3440;
}

.popular-taste-link:focus {
    width: 28px;
    height: 28px;

    background-color: #ff2f64;
    border: 2px #2d3440 solid;
}

.popular-taste-link:active .popular-taste-icon {
    fill: #fcfcfc;
}

.popular-taste-link:disabled {
    background-color: #b9b9b9;
}

.popular-taste-link:disabled .popular-taste-icon {
    fill: #565c66;
}


.popular-taste-icon {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #ffffff;
}

/* About Gllacy Shop*/

.about-gllacy {
    padding: 24px;
    margin-bottom: 80px;

    background-image: url(../images/waffer-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.about-gllacy-block {
    padding: 56px 40px;
    padding-top: 57px;

    background-color: #ffffff;
    border-radius: 16px;
}

.about-gllacy-title {
    margin: 0;
    margin-bottom: 55px;

    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}

.about-gllacy-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 40px;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.about-gllacy-item {
    position: relative;

    padding-left: 64px;

    font-size: 16px;
    line-height: 22px;
    color: #565c66;
}

.about-gllacy-item::before {
    position: absolute;
    left: 0;
    top: 0;

    width: 44px;
    height: 44px;

    border: 2px #2d3440 solid;
    border-radius: 50%;
    background-size: 32px;
    background-position: center center;
    background-repeat: no-repeat;

    content: "";
}

.about-gllacy-item-icecream::before {
    background-image: url(../images/ice-cream.svg);
}

.about-gllacy-item-milk::before {
    background-image: url(../images/cow.svg);
}

.about-gllacy-item-natural::before {
    background-image: url(../images/leaf.svg);
}

.about-gllacy-item-temperature::before {
    background-image: url(../images/thermometer.svg);
}

/* Blog, subscribe */

.blog-subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}

/* Blog */

.blog {
    padding: 32px;
    min-height: 224px;

    border-radius: 16px;
    background-color: #ffffff;
    background-image: url(../images/sorbet.png);
    background-size: 112%;
    background-position: right -70px center;
    background-repeat: no-repeat;

    box-sizing: border-box;
}

.blog-subtitle {
    margin: 0;
    margin-bottom: 14px;

    font-size: 16px;
    line-height: 20px;
    color: #565c66;
}

.blog-title {
    margin: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

/* Subscribe */

.subscribe {
    padding: 6px;

    border-radius: 16px;
    background-image: url(../images/mail-background.png);
    background-size: cover;
    background-position: center;
}

.subscribe-block {
    height: 100%;
    padding: 26px;

    background-color: #ffffff;
    border-radius: 16px;

    box-sizing: border-box;
}

.subscribe-description {
    margin: 0;
    margin-bottom: 42px;

    font-size: 16px;
    line-height: 22px;
    color: #565c66;
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    flex-grow: 1;
    height: 48px;
    padding: 14px 16px;
    margin-right: 14px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;

    border-radius: 4px;
    border: 1px #b9b9b9 solid;

    box-sizing: border-box;
}

.subscribe-input::placeholder {
    color: #b9b9b9;
    opacity: 1;
}


/* Delivery */

.delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    margin-bottom: 80px;

    border-radius: 16px;
    background-color: #ffffff;
    background-image: url(../images/delivery-background.png);
    background-size: 105%;
    background-position: right -58px center;
    background-repeat: no-repeat;
}

.delivery-text {
    max-width: 371px;
    margin-right: 50px;
    margin-left: 36px;
    margin-top: 5px;
}

.delivery-title {
    margin: 0;
    margin-bottom: 24px;

    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
}

.delivery-description {
    margin: 0;

    font-size: 16px;
    line-height: 22px;
    color: #565c66;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 14px 287px;

    max-width: 500px;
    padding: 40px 40px 40px 42px;

    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, .12);

    box-sizing: border-box;
}

.delivery-form-info {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 22px;
    color: #565c66;
}

.delivery-form-label {
    margin: 0;
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.delivery-form-label-date {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.delivery-form-label-phone {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.delivery-form-label-adress {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}


.delivery-form-input {
    flex-grow: 1;
    height: 48px;
    padding: 14px 16px;
    margin-bottom: 20px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;

    border-radius: 4px;
    border: 1px #b9b9b9 solid;

    box-sizing: border-box;
}

.delivery-form-input-date {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.delivery-form-input-phone {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.delivery-form-input-adress {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    margin-bottom: 26px;
}

.btn-delivery {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    justify-self: center;
}

.delivery-form-input::placeholder {
    color: #b9b9b9;
    opacity: 1;
}

/* Contacts */

.contacts {
    padding: 64px;

    border-radius: 16px;
    background-color: #ffffff;
    background-image: url(../images/contacts-background.jpg);
    background-size: 100%;
    background-position: right center;
}

.contacts-block {
    max-width: 343px;
    padding: 39px;

    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, .12);
    box-sizing: border-box;
}

.contacts-text {
    margin: 0;
    margin-bottom: 12px;

    font-size: 16px;
    line-height: 22px;
    color: #565c66;
}

.contacts-info {
    margin: 0;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.contacts-adress {
    margin-bottom: 24px;
}

.contacts-subscription {
    margin: 0;
    margin-bottom: 28px;

    font-size: 14px;
    line-height: 20px;
    color: #565c66;
}

/* pagination */

.catalog-pagination-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
    margin-bottom: 40px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.pagination-empty-block {
    width: 152px;
    height: 36px;
}

.pagination-item {
    width: 24px;
    height: 24px;
}

.pagination-link {
    display: block;
    width: 24px;
    height: 24px;

    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #2d3440;
    text-align: center;
    padding: 2px;

    border-radius: 50%;

    box-sizing: border-box;
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, .5);
}

.pagination-link:active {
    background-color: rgba(252, 252, 252, .5);
    outline: 1px #fcfcfc solid;
}

.pagination-link:focus:not(:active) {
    background-color: rgba(252, 252, 252, .3);
    outline: 1px #2d3440 solid;
}

.pagination-link-current {
    background-color: #fcfcfc;
}

.pagination-button {
    width: 16px;
    height: 16px;

    background-position: center center;
    background-color: transparent;
    border: none;
    vertical-align: middle;

    cursor: pointer;
}

.pagination-button-left {
    background-image: url(../images/arrow-left-black.svg);
}

.pagination-button-right {
    background-image: url(../images/arrow-right-black.svg);
    margin-left: 8px;
}

/*footer*/

.main-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 48px 0;
}

.catalog-footer {
    border-top: 1px rgba(252, 252, 252, .3) solid;
}

.footer-social-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.footer-social-item:not(:last-child) {
    margin-right: 12px;
}

.footer-social-link {
    display: block;
    width: 24px;
    height: 24px;

    background-size: 24px;
    border-radius: 50%;
    border: 2px rgba(252, 252, 252, .3) solid;
    background-clip: padding-box;
}

.footer-social-link:hover {
    background-color: #2d3440;
}

.footer-social-link:active {
    background-color: #2d3440;
    opacity: .5;
}

.footer-social-link:focus:not(:active) {
    background-color: #2d3440;
    border-color: #2d3440;
}

.footer-social-link-tg {
    background-image: url(../images/telegram.svg);
}

.footer-social-link-vk {
    background-image: url(../images/vk.svg);
}

.footer-social-link-yt {
    background-image: url(../images/youtube.svg);
}

.footer-info-links-list {
    display: grid;
    grid-template-columns: 150px 208px;
    row-gap: 3px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-info-link-item {
    line-height: 0;
}

.footer-info-link {
    padding-left: 24px;

    font-size: 14px;
    line-height: 20px;
    color: #2d3440;
    text-decoration: none;
}

.footer-info-link-providers {
    font-weight: 700;
    background-image: url(../images/heart-fill.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.html-academy-copyright {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.html-academy-link {
    color: #2d3440;
    text-decoration: none;
    border-bottom: 1px #565c66 solid;
}

.html-academy-link-logo {
    display: block;
    margin-bottom: 7px;
}

/* Tooltip */

.tooltip {
    position: absolute;
    z-index: 1;


    height: 26px;
    margin-top: 0;
    margin-left: 5px;
}

.tooltip-toggle {
    width: 12px;
    height: 12px;
    margin: auto 0;

    background-image: url("../images/info.svg");
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;

    cursor: help;
}

.tooltip-text {
    position: absolute;
    left: calc(100% + 13px);
    top: -4px;

    display: none;
    width: max-content;
    padding: 8px 10px;

    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #565c66;

    background-color: #fcfcfc;
    border-radius: 1px;
    border: 1px #b9b9b9 solid;
    box-shadow: 0 4px 8px rgba(194, 194, 194, .2);


    box-sizing: border-box;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}

.input-description-icon {
    position: relative;

    padding-left: 4px;
    padding-right: 32px;
}

.tooltip-text::after {
    position: absolute;
    top: 7px;
    left: -7px;

    width: 7px;
    height: 15px;

    background-image: url("../images/tooltip-arrow.svg");
    background-position: left center;

    content: "";
}

/* modal */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(45, 52, 64, .3);
}

.modal-dialog {
    position: relative;

    padding: 64px 63px 66px 65px;
    width: 442px;

    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, .12);
}

.modal-title {
    margin: 0;
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 30px;
}

.modal-close {
    position: absolute;
    right: 32px;
    top: 32px;

    width: 20px;
    height: 20px;

    background-image: url(../images/cross.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    border: none;

    cursor: pointer;
}

.modal-form {
    display: grid;
    row-gap: 16px;
}

.modal-input,
.modal-textarea {
    flex-grow: 1;
    height: 48px;
    padding: 14px 16px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;

    border-radius: 4px;
    border: 1px #b9b9b9 solid;

    box-sizing: border-box;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
    color: #b9b9b9;
    opacity: 1;
}

.modal-textarea {
    height: 149px;
    margin-bottom: 10px;

    resize: none;
}

.btn-modal {
    justify-self: flex-end;
}

.modal-hidden {
    display: none;
}
